# Environment
.env

# Dependencies
/vendor/
/node_modules/

# IDE / Editor
.idea/
.vscode/

# System files
.DS_Store

# Logs
*.log
error_log
*/error_log

# Database / SQL dumps
/sql/

# Uploads
/uploads/

# Cache
/cache/locations.json